/* apply a natural box layout model to all elements, but allowing compnents to change */
@import "bourbon";
@import "neat";
@import "normalize";

$fa-font-path: "//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts";
@import "font-awesome";

/* GLOBAL STYLING */
html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}
body {
  // background: url(img/bg.jpg);
}
a {
  text-decoration: inherit;
  color: #eee;
}
.container {
  max-width: 1040px;
  margin: auto;
  background: blue;
}

/** TOP CONNECTION HEADER STYLES **/
.top_connect {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 4rem;
  background: red;
  line-height: 6rem;
}
.sub_link {
  padding-right: 3rem;
  font-size: 0.7rem;
}
.fa {
  flex: 1 0 auto;
  height: 2rem;
  width: 2rem;
  line-height: 1.5rem;
  text-align: center;
  border: 1px orange solid;
  color: #eee;
}
//  a .social_link {
//   line-height: 0;
//   font-size: 0;
//   color: transparent;
// }

/** NAVBAR HEADING STYLES **/
ul {
  display: flex;
  justify-content: flex-start;
}
li {
  flex: 0 0 auto;
  height: 2.5rem;
  width: 12rem;
  text-align: center;
  line-height: 2.5rem;
  list-style: none;
  border: 1px #eee solid;
  background: purple;
}
