/* apply a natural box layout model to all elements, but allowing compnents to change */
@import "bourbon";
@import "neat";
@import "normalize";

$fa-font-path: "//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts";
@import "font-awesome";

/* GLOBAL STYLING */
html {
  box-sizing: border-box;
  background: url(img/bg.jpg);
}
*, *::before, *::after {
  box-sizing: inherit;
}
body {
  background: #a81199;
}
a {
  text-decoration: inherit;
  color: #eee;
}
.container {
  max-width: 1040px;
  margin: auto;
  background: blue;
}

/** TOP CONNECTION HEADER STYLES **/
header {
  display: relative;
  text-transform: uppercase;
  background: green;
}
.top-connect {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 4rem;
  background: red;
  line-height: 6rem;
}
.sub-link {
  padding-right: 3rem;
  font-size: 0.7rem;
}
.fa {
  margin: 0.3rem;
  height: 2rem;
  width: 2rem;
  line-height: 1.5rem;
  text-align: center;
  border: 1px orange solid;
  color: #eee;
}

/** NAVBAR HEADING STYLES **/
ul {
  display: flex;
  margin: auto;
  justify-content: flex-start;
  padding-left: 0;

}
li {
  flex: 1 0 calc(25% - 4rem);
  margin: 1rem;
  height: 2.5rem;
  width: 13.5rem;
  text-align: center;
  line-height: 2.5rem;
  list-style: none;
  border: 1px #eee solid;
  background: purple;
  color: #eee;
}

/** HERO STYLING **/
.hero {
  position: relative;
}

.hero-bg {
  width: 100%;
  top: 20%;
  border: 0.6rem #eee solid;
}
.hero-logo {
  position: absolute;
  left: 1.4rem;
  top: 2.5rem;
  height: 10rem;
  width: 18rem;

}
.radio-btns {
  position: absolute;
  top: 23.3rem;
  left: 50%;
}
