/* apply a natural box layout model to all elements, but allowing compnents to change */
@import "bourbon";
@import "neat";
@import "normalize";

$fa-font-path: "//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts";
@import "font-awesome";

/* GLOBAL STYLING */
html {
  box-sizing: border-box;
  background: url(img/bg.jpg);
}
*, *::before, *::after {
  box-sizing: inherit;
}
body {
  background: #a81199;
}
a {
  text-decoration: inherit;
  color: #eee;
}
.container {
  max-width: 1040px;
  margin: auto;
  background: blue;
}

/** HERO STYLING **/
.hero {
  position: relative;
}

.hero-bg {
  width: 100%;
  top: 20%;
  border: 0.6rem #eee solid;
}
.hero-logo {
  position: absolute;
  left: 2rem;
  top: 4rem;
  height: 15rem;
  width: 26rem;

}
.radio-btns {
  position: absolute;
  top: 23.3rem;
  left: 50%;
}

@import "page-header.scss";
@import "top-nav.scss";
