@media only screen and (max-width: 480px) {

  .nav-items {
    display: none;
  }
  .hero-bg {
    display: none;
  }
  .hero-logo {
    width: 100%;
    top: 10%;
    // padding: 6rem;
    border: 6px $skater_red solid;
    background: $skater_white;
  }
  .article-grid {
    flex-direction: column;
    width: 100%;
    margin: auto;
  }
  .skater-grid {
    flex-wrap: wrap;
    justify-content: center;
    float: none;
  }
  .skater-grid h2 {
    display: none;
  }
  .skater-grid h1 {
    font-size: 0.4rem;
  }
  .skateboard-grid {
    flex-wrap: wrap;
    justify-content: center;
    float: none;
  }
  .contact-form {
    flex: auto;
    width: 370px;
    vertical-align: middle;
  }
  .site-info {
    display: none;
  }
}
