/** TOP CONNECTION HEADER STYLES **/
header {
  display: relative;
  text-transform: uppercase;
  background: green;
}
.top-connect {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 4rem;
  background: red;
  line-height: 6rem;
}
.sub-link {
  padding-right: 3rem;
  font-size: 0.7rem;
}
.fa {
  margin: 0.3rem;
  height: 2rem;
  width: 2rem;
  line-height: 1.5rem;
  text-align: center;
  border: 1px orange solid;
  color: #eee;
}
