/** BOTTOM CONNECT SECTION **/
.bottom-connect {
  display: flex;
  width: 100%;
  height: 20rem;
  margin-top: 2rem;
  margin-bottom: 4rem;
  border: 1px transparent solid;
  box-shadow: 0 5px 0 $shadow_grey;
  background: white;
}
.site-info {
  width: calc(50% - 2rem);
  margin: 1rem;
}
.site-info h2 {
  color: $skater-black;
}
.site-info .fa {
  margin: 0.1rem;
  height: 1.5rem;
  width: 1.5rem;
  padding-top: 0.3rem;
  line-height: 0.8rem;
  text-align: center;
  background: grey;
  border: 1px transparent solid;
  box-shadow: none;
  color: $shadow_grey;
}

/** CONTACT FORM STYLES **/
.contact-form {
  overflow: hidden;
  width: calc(50% - 5.5rem);
  margin: auto;
}
.contact-info {
  display: flex;
  flex-direction: column;
}
#name, #email {
  height: 2.5rem;
  width: 25rem;
  margin: 0.5rem;
  box-shadow: inset 0 3px 0 $shadow_grey;
}
#your-message {
  height: 5rem;
  width: 25rem;
  margin: 0.5rem;
  box-shadow: inset 0 3px 0 $shadow_grey;
}
.sub-btn {
  float: right;
  margin-right: 1.5rem;
  margin-top: 1rem;
  height: 2.5rem;
  width: 15rem;
  border: none;
  background: $skater-red;
  color: $skater-white;
}
